.navbar_list {
    display: flex;
    flex-direction: row;
    column-gap: 45px;
    row-gap: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
    .navbar_list {
        justify-content: center;
        padding: 0 80px;
    }
}

@media screen and (max-width: 600px) {
    .navbar_list {
        padding: 0 50px;
    }
}

@media screen and (max-width: 500px) {
    .navbar_list {
        padding: 0 10px;
    }
}

.navbar_list_item {
}

.item_link {
    padding: 15px 0;
    font-size: 16px;
    color: var(--light-grey);
    font-weight: lighter;
}

.item_link:hover {
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
}
