.main {
    width: 1200px;
    margin: 50px auto auto auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 20px;
    height: 350px;
}

@media screen and (max-width: 1280px) {
    .main {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        max-width: 800px;
    }
}

@media screen and (max-width: 780px) {
    .main {
        max-width: 500px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 100%;
    }
}

@media screen and (max-width: 520px) {
    .main {
        max-width: 400px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 100%;
    }
}
