.main {
    width: 1200px;
    margin: 50px auto auto auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 20px;
    height: 350px;
}
@media screen and (max-width: 1280px){
    .main{
        max-width: 1000px;
    }
}
@media screen and (max-width: 1024px){
    .main{
        max-width: 800px;
    }
}
@media screen and (max-width: 780px){
    .main{
        max-width: 700px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 100%;
    }
}

.header {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (max-width: 780px){
    .header{
        height: 350px;
    }
}

.header_text{
    background: linear-gradient(to right, #fff, #ff440a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_title {
    font-size: 46px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0;
}
.button_item{
    position: relative;
}
.button {
    font-size: 14px;
    line-height: 1.2;
    color: var(--grey);
    padding: 10px 30px;
}
.button:hover{
    border: 1px solid var(--grey);
}

.button_glare{
    position: absolute;
    left: 0;
    top: 0;
}

.benefits {
    height: inherit;
}
@media screen and (max-width: 780px){
    .benefits{
        margin-top: 30px;
        height: 350px;
    }
}


.list {
    height: inherit;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    background: linear-gradient(to right, #fff, #a3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item {
    padding: 30px 35px;
}
.item:hover{
    cursor: pointer;
}

.item_text{
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}
.item_number{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}
