.benefits {
    height: inherit;
}

@media screen and (max-width: 780px) {
    .benefits {
        margin-top: 30px;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .benefits {
        height: 750px;
    }
}

.list {
    height: inherit;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    background: linear-gradient(to right, #fff, #a3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 780px) {
    .list {
        background: linear-gradient(to bottom, #fff, #a3a3a3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
